[submodule "apps/contracts/lib/openzeppelin-contracts-upgradeable"]
	path = apps/contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/openzeppelin/openzeppelin-contracts-upgradeable
[submodule "apps/contracts/lib/openzeppelin-contracts"]
	path = apps/contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
